html {
    font-size: 16px;
    color: #1d1d1d;
    display: grid;
    background-color:#f0f0f0ff;
    background-image: url("./../pattern.png");
    background-size: 240px;
}

::selection {
    color: #f0f0f0ff;
    background: #1d1d1d;
}

h1, h2, h3, h4, h5, h6, li, p, a {
    font-family: 'Roboto Slab';
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.colored-background {
    background-color: #72ecae88;
    border: 2px solid #090f0cdd;
    border-radius: 5px; 
}

.alt-colored-background {
    background-color: #b1f3ae88;
    border: 2px solid #132013;
}

body {
    display: grid;
    grid-template-columns: 2.5% auto 2.5%;
    grid-template-rows: 40px 1fr 40px;
    gap: 2px;
    margin-top: 10px;
    justify-content: center;
}

header.navigation {
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    max-width: 1440px;
}

nav.navigation {
    display: flex;
    justify-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navigation ul.navigation-links {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

.navigation h1, .navigation li {
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.navigation li {
    display: list-item;
}

main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr auto 1fr;
    max-width: 1440px;
    row-gap: 20px;
    column-gap: 10px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: 32px;
}

main h2, main p {
    margin: 0px 10px;
}

main h2 {
    margin: 20px;
    margin-top: 0px;
    margin-left: 10px;
}

main p {
    min-width: 112px;
    max-height: 180px;
    margin-bottom: 0px;
}


#about-me {
    display: flex;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    flex-direction: column;
    justify-content: flex-start;
}

#about-me p {
    padding: 8px;
    padding-top: 4px;
}

#my-image {
    min-width: 200px;
    max-width: 360px;
    width: 100%;
    height: auto;
    margin-right: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
}

#my-image img {
    display: block;
    width: 98%;
    height: 100%;
    margin: 0px auto;
    padding: 0px 1px;
}

#projects {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

#projects h2 {
    margin-top: 20px;
}

#projects-carousel {
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 1fr;
    width: auto;
    height: auto;
    max-width: 1440px;
    margin: auto 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

button.carousel-button{
    min-height: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    font-family: 'Roboto Slab';
    font-size: 1rem;
    font-weight: bold;
    color: #1d1d1d;
    border-radius: 100px;
    padding: 0;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#prev {
    grid-column: 1 / span 1;
}

button#next {
    grid-column: 3 / span 1;
}

.carousel-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    /* min-width: 200px;
    min-height: 200px;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px; */
    width: 75%;
    height: auto;
    /* flex-direction: column;
    justify-content: space-evenly; */
    grid-column: 2 / span 1;
    margin: 10px auto;
    border-radius: 0px;
}

.carousel-item img {
    /* min-width: inherit;
    min-height: inherit;
    width: inherit;
    height: auto;
    max-width: inherit;
    max-height: inherit; */
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.carousel-caption {
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: #1b2d23dd;

}

.carousel-caption h3, .carousel-caption p {
    margin: 0px 10px;
    color: #f0f0f0ff;
    text-align: center;
}

#skills {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1; 
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    li, p {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    li, p {
        font-size: 0.7rem;
    }

    .navigation h1, .navigation li {
        margin: auto 4px;
    }

    main h2, main p {
        margin: 10px;
        margin-top: 0px;
        margin-left: 4px;
    }

    main p {
        margin-bottom: 0px;
    }

    #projects-carousel {
        margin: auto 4px;
    }

    #my-image {
        margin-right: 4px;
    }


    
}

@media only screen and (max-width: 479px) {
    .carousel-item {
        width: 260px;
        height: 260px;
    }
}

/* @media only screen and (max-width: 400px) {
    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.85rem;
    }

    li, p {
        font-size: 0.65rem;
    }
} */