html {
    font-size: 16px;
    color: #1d1d1d;
    display: grid;
    background-color:#f0f0f0ff;
    background-image: url("./../pattern.png");
    background-size: 240px;
}

::selection {
    color: #f0f0f0ff;
    background: #1d1d1d;
}

button:focus {
    outline:0;
}

button::selection {
    color: #1d1d1d;
    background: #00000000;
}

h1, h2, h3, h4, h5, h6, li, p, a {
    font-family: 'Roboto Slab';
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.colored-background {
    background-color: #72ecae88;
    border: 2px solid #090f0cdd;
    border-radius: 5px; 
}

.alt-colored-background {
    background-color: #b1f3ae88;
    border: 2px solid #132013;
}

body {
    display: grid;
    grid-template-columns: 2.5% auto 2.5%;
    grid-template-rows: 40px 1fr 40px;
    gap: 2px;
    margin-top: 10px;
    justify-content: center;
}

header.navigation {
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    max-width: 1440px;
}

nav.navigation {
    display: flex;
    justify-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navigation ul.navigation-links {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

.navigation h1, .navigation li {
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.navigation li {
    display: list-item;
}

main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 2.5fr 1fr 1fr;
    max-width: 1440px;
    row-gap: 20px;
    column-gap: 10px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: 32px;
}

main h2, main p {
    margin: 0px 10px;
}

main h2 {
    margin: 20px;
    margin-top: 0px;
    margin-left: 10px;
}

main > p {
    min-width: 112px;
    max-height: 180px;
    margin-bottom: 0px;
}


#about-me {
    display: flex;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    flex-direction: column;
    justify-content: flex-start;
}

#about-me > p {
    padding: 8px;
    padding-top: 4px;
}

#my-image {
    min-width: 200px;
    max-width: 360px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
}

#my-image img {
    display: block;
    width: 98%;
    /* height: auto; */
    height: 100%;
    margin: 0px auto;
    padding: 0px 1px;
}

#projects {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

#projects h2 {
    margin-top: 20px;
}

#projects-carousel {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 1fr;
    height: auto;
    margin: auto 10px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

button.carousel-button{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab';
    font-size: 1rem;
    font-weight: bold;
    color: #1d1d1d;
    box-sizing: content-box;
    padding: 0;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    border: none;
}

button#prev {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-right: 2px solid #090f0cdd;
    justify-self: start;
}

button#next {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    border-left: 2px solid #090f0cdd;
    justify-self: end;
}

#cards-swap-shortcuts {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.carousel-item.prev-item a {
    display: none;
}

.carousel-item.next-item a {
    display: none;
}

.carousel-item {
    display: none;
    margin: 10px;
}

.carousel-item.prev-item, #prev-preview {
    display: block;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.carousel-item.view-item {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.carousel-item.next-item, #next-preview {
    display: block;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.carousel-item.prev-item, .carousel-item.next-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 150px;
    width: 150px;
    height: 150px;
    opacity: 0.86328125;
    border-radius: 5px;
    border: 2px solid #0d130f;
    pointer-events: none;
}

#current-preview {
    width: 300px;
    height: 300px;
    margin: 10px;
    justify-self: center;
    align-self: center;
    pointer-events: none;
}

#prev-preview, #next-preview {
    width: 150px;
    height: 150px;
    margin: 10px;
    justify-self: center;
    align-self: center;
}

.carousel-item.view-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    border-radius: 0px;
    border: none;
    justify-items: center;
    align-items: center;
    border: 2px solid #0d130f;
    background-color: #090f0cdd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 300px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

.carousel-item a {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    height: 100%;
}

.carousel-caption {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #090f0cdd;
    background-color: #090f0cdd;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.carousel-caption > h3, .carousel-caption > p {
    margin: 2px 2px;
    color: #f0f0f0ff;
    text-align: center;
    width: 100%;
    font-size: 0.85rem;
}

.carousel-caption h3 {
    font-size: 1.0rem;
    white-space: nowrap;
}

#skills {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

#skills-container {
    margin: 10px;
}

#skills-container > *, #contact-information > * {
    font-size: 2.5em;
}

#skills-container > p, #contact-information > p {
    font-size: 1rem;
    margin: 8px;
    margin-top: 4px;
}

#contact-information a {
    line-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

#skills-icons, #contact-icons {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px auto;
    margin-top: 20px;
}

#contact-icons {
    justify-content: center;
}

#contact {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

#contact-information {
    margin: 10px;
}

.fab, .far {
    font-weight: 400;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    color: #1d1d1d;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

@media only screen and (max-width: 840px) {

    .carousel-item.view-item, #current-preview {
        background-size: auto 200px;
        width: 200px;
        height: 200px;
    }

    .carousel-item.prev-item, .carousel-item.next-item, #prev-preview, #next-preview {
        background-size: auto 100px;
        width: 100px;
        height: 100px;
    }
    
    .carousel-caption h3 {
        font-size: 0.8rem;
    }

    .carousel-caption p {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    li, p {
        font-size: 0.8rem;
    }

    #skills-container > p, #contact-information > p {
        font-size: 0.8rem;
    }

    #skills-container > *, #contact-information > * {
        font-size: 1.75em;
    }

}

@media only screen and (max-width: 680px) {

    .carousel-item.prev-item, .carousel-item.next-item {
        display: none;
    }

    #cards-swap-shortcuts {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    li, p {
        font-size: 0.7rem;
    }

    #skills-container > p, #contact-information > p {
        font-size: 0.7rem;
    }

    #skills-container > *, #contact-information > * {
        font-size: 1.5em;
    }

    .navigation h1, .navigation li {
        margin: auto 4px;
    }

    main h2, main p {
        margin: 10px;
        margin-top: 0px;
        margin-left: 4px;
    }

    main p {
        margin-bottom: 0px;
    }

    #projects-carousel {
        margin: auto 4px;
    }

    #my-image {
        margin-right: 4px;
    }

    .carousel-item {
        margin: 4px auto;
    }

    .carousel-item.prev-item, .carousel-item.next-item {
        display: none;
    }

    #skills-container {
        margin: 4px;
    }

    #contact-information {
        margin: 4px;
    }
    
}
